@font-face {
    font-family: 'nextu';
    src:  url($NextuEOT);
    src:  url($NextuEOT) format('embedded-opentype'),
      url($NextuTTF) format('truetype'),
      url($NextuWOFF) format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="nu-"], [class*=" nu-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nextu' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .nu-admin:before {
    content: "\e905";
  }
  .nu-certificates:before {
    content: "\e900";
  }
  .nu-tutorcafe:before {
    content: "\e901";
  }
  .nu-profile:before {
    content: "\e902";
  }
  .nu-forum:before {
    content: "\e903";
  }
  .nu-home:before {
    content: "\e904";
  }

/* use Roboto font */
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px!important;
}

body input,
body button,
body select,
body textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

section#main {
    overflow-x: hidden;
}

.fa-heart:before {
    content: "\f164";
}

/* Custom Header */
header.d-header {
    /* min-height: 4.2857em; */
    height: unset;
    position: relative !important;
    top: 0;
    padding: 0;
}

#main-outlet {
    padding-top: 0;
}

.d-header .wrap {
    display: flex;
    height: initial;
    width: 90%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

@media (max-width: 1039px) {
    .d-header .wrap {
        width: 98%!important;
    }
}
@media (max-width: 1139px) {
    .d-header .wrap {
        width: 95%!important;
    }
}

.d-header .wrap .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0.4rem 0;

    .title {

        > a {
            box-sizing: border-box;
            height: 4rem;
            padding: 1rem;
            margin-right: 1rem;
            margin-left: -15px;

            @media (min-width: 992px) {
                margin-right: 3rem;
            }

            img#site-logo {
                height: 100%;
                max-height: unset;
                max-width: unset;
            }
        }
    }
}

.navbar-nav {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    margin: 0 -14px;
    padding-top: 4px;

    > li a {
        color: #fff;
        font-weight: 400;
        font-size: 0.9rem; 
        padding-left: 1rem;
        padding-right: 1rem;

        i {
            font-size: 1.3rem;
            vertical-align: sub;
            margin-right: .3rem;
            opacity: .6;
        }
    }
}

.navbar-nav>li>a img,
.navbar-default .navbar-nav>li>a svg {
    opacity: .5;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: 0 5px 0 10px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    padding-top: 17px;
    white-space: nowrap;
}

.navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent !important;
}

.navbar-nav>li>a span {
    /* display: flex;
    align-items: center; */
}

.navbar-nav>li>a:hover span {
    border-bottom: 2px solid #FFF;
    padding-bottom: 6px;
}

@media (max-width: 767px) {
    .navbar-nav>li>a:hover span {
        border-bottom: 0 none;
        padding-bottom: unset;
        text-decoration: underline;
    }
}

@media (min-width: 768px) {


    .nav_icons.navbar-nav {
        /* margin: 0 auto;
        float: none;
        display: table-cell;
        padding-left: 0; */
    }
}


@media (max-width: 991px) {
    .nav_icons.navbar-nav {
        /* width: 800px !important; */
    }
}

@media (max-width: 840px) {
    .nav_icons.navbar-nav {}


    .navbar-nav>li>a.usermenu {
        margin-right: -15px;
    }

}



@media (max-width: 580px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav>li {
        padding: 3px 0;
    }
}
